<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nfcdefaultchanger">

    <!-- 前台服务权限及 dataSync 类型所需的权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:label="nfcdefaultchanger"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nfcdefaultchanger">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".LockScreenService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

    </application>
</manifest>
